@media (min-width: 338px) {
  .box {
    margin-top: 100px;
  }
}

@media (min-width: 456px) {
  .box {
    margin-top: 140px;
  }
}

@media (min-width: 456px) {
  .box {
    margin-top: 140px;
  }
}

@media (min-width: 502px) {
  .box {
    margin-top: 175px;
  }
}

@media (min-width: 600px) {
  .box {
    margin-top: 240px;
  }
}

@media (min-width: 640px) {
  .box {
    margin-top: 275px;
  }
}

@media (min-width: 700px) {
  .box {
    margin-top: 320px;
  }
}

@media (min-width: 743px) {
  .box {
    margin-top: 100px;
  }
}

@media (min-width: 820px) {
  .box {
    margin-top: 140px;
  }
}

@media (min-width: 900px) {
  .box {
    margin-top: 210px;
  }
}

@media (min-width: 951px) {
  .box {
    margin-top: 170px;
  }
}

@media (min-width: 1041px) {
  .box {
    margin-top: 250px;
  }
}

@media (min-width: 1119px) {
  .box {
    margin-top: 100px;
  }
}



